
.nav-link{
    font-color: #539165;
}

.btn-outline-dark {
    --bs-btn-color: #3D550C;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #539165;
    --bs-btn-hover-border-color: 1F8A70;
    --bs-btn-focus-shadow-rgb: 33,37,41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #539165;
    --bs-btn-active-border-color: #539165;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(190, 29, 29, 0.125);
    --bs-btn-disabled-color: #539165;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #539165;
    --bs-gradient: none;
}
.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle{
    background-color : #539165;
    border-color: #539165;
}