.NavbarMarquee {
  color: white;
  background-color: #6b9c73;
  text-transform: uppercase;
  ul {
    list-style-type: none;
  }
  .marq-container {
    overflow: hidden;
    display: flex;
    justify-content: space-between;

    .marq-content {
      display: flex;
      align-items: center;
      padding-block: 2px;
      
      justify-content: space-between;
  

      p{
        margin: 0;
        width: 1200px;
        font-weight: bold;
      }
    }
  }
}
